.box {
  width: 200px;
  height: 80px;
  background-color: #522d5b;
  border-radius: 10px;
  text-align: center;
}

.center {
  text-align: center;
}

.form{
width: 80%;
}

/* "Timeline" slider for the levels */
.time-line-box {
    height: 100px;
    padding-top: 10px;
    padding-bottom: 150px;
    width: 95%;
    background-color: #dadefe;
    border-radius: 10px;
}
.time-line-box .timeline {
    list-style-type: none;
    display: flex;
    padding: 0;
    text-align: center;
}
.time-line-box .timestamp {
    margin: auto auto 5px;
    padding: 0 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time-line-box .status {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    border-top: 3px solid #455EFC;
    position: relative;
    transition: all 200ms ease-in;
}
.time-line-box .status span {
    padding-top: 8px;
}
.time-line-box .status span:before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #455EFC;
    border-radius: 12px;
    border: 2px solid #455EFC;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 200ms ease-in;
}
.swiper-container {
    width: 95%;
    margin: auto;
    overflow-y: auto;
}
.swiper-wrapper {
    display: inline-flex;
    flex-direction: row;
    overflow-y: auto;
    justify-content: center;
}
.swiper-container::-webkit-scrollbar-track {
    background: #a8a8a8b6;
}
.swiper-container::-webkit-scrollbar {
    height: 2px;
}
.swiper-container::-webkit-scrollbar-thumb {
    background: #4F4F4F !important;
}
.swiper-slide {
    text-align: center;
    font-size: 12px;
    width: 200px;
    height: 100%;
    position: relative;
}



/* Arrow slider for the level*/
div.arrow {
	width: 6vmin;
	height: 6vmin;
	box-sizing: border-box;
	left: 50%;
	top: 50%;
	transform: rotate(135deg);

}
.bottom {
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #06072E;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

.pointer {
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: #06072E;
		transform-origin: 100% 0;
		transition:.2s ease;
	}

.pointer:hover {
		transform: rotate(45deg);
		margin: 2;
		border-color: orange;
		height: 120%;
}